<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>対人シューティングゲーム</title>
</head>
<body>
    <canvas id = "canvas">canvas非対応</canvas>

    <!-- socket.io を用いるための scriptタグ -->
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <!-- 自分で作った jsファイルの読み込み -->
    <script type = "text/javascript" src = "./js/classes/object.js"></script>
    <script type = "text/javascript" src = "./js/classes/bullet.js"></script>
    <script type = "text/javascript" src = "./js/classes/player.js"></script>
    <script type = "text/javascript" src = "./js/screens/game.js"></script>
    <script type = "text/javascript" src = "./js/screens/lobby.js"></script>
    <script type = "text/javascript" src = "./js/screens/title.js"></script>
    <script type = "text/javascript" src = "./js/main.js"></script>
</body>
</html>